*{
    margin: 0;
    padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
    h1, h2 {
        font-family: "Satisfy", cursive;
    }
.header-container {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
}
#cloud-1{
    position: absolute;
    top: 25%;
    right: 15%;
}
#cloud-2{
    position: absolute;
    left: 20%;
    top: 30%;
}
#cloud-3{
    position: absolute;
    left: 55%;
    bottom: 45%;
}
#mountain{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    /* translate dùng cho element dịch chuyển */
}
#cloud-4{
    position: absolute;
    left: 41%;
    bottom: 55%;
}
.text{
    color: #66bfbf;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}